{% extends "global/Page.html" %}
{% block title %}{% endblock %}

{% block content %}
<h4>Additional Money</h4>
<ul>
    <li>If your investment is successful, you earn six times the amount invested. </li>
    <li>If your investment is unsuccessful, you will lose your investment.</li>
    <li>Money not invested in each round is added to your earnings.</li>
    <li>Your earnings will be reported at the end of each round.</li>
    <li>At the end of the first part, your total earnings will be calculated.</li>
</ul>



{% next_button %}
{% endblock %}