{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<h5>Compensation</h5>
<ul>
       <li>In these rounds: Your group have a shared success number for each round.</li>
    <li>Participants equally share the profits or losses that your group achieves from the investment.</li>
     <li>You can invest up to $2 in increments of $0.5 in each round.</li>
    <li>You can communicate with your partner <strong>only</strong> through the chat.</li>
</ul>

{% next_button %}
{% endblock %}