{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %} {% endblock %}

{% block content %}
    <h6>Your total earnings from these three rounds are: <span style="color: blue; font-weight: bold;" id="totalEarnings">${{ total_earnings }}</span></h6>
    <hr style="border-top: 1px solid #ccc; margin: 20px 0;">

    <h6>Please raise your hand in order to transfer your final investment earnings.</h6>
    <h6>If your investment amount is negative, you have to pay the cashier. If it's positive, you will be paid.</h6>


<hr style="border-top: 1px solid #ccc; margin: 20px 0;">

    <div id="experimenter-input">
        <input type="text" id="experimenter-code" />
    </div>

    <div id="participant-input" style="display: none;">
        <h6>Please type 'close' in the box below to determine your final investment earnings.</h6>
        {% formfield 'close_field' label="" %}
    </div>


    <div id="next-button-container" style="display: none;">
        {% next_button %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function formatAmount(element) {
                var amountText = element.innerText;
                var numericValue = amountText.replace(/[^\d.-]/g, '');
                var formattedValue = (Math.floor(parseFloat(numericValue) * 100) / 100).toFixed(2);
                element.innerText = '$' + formattedValue;
            }

            var totalEarningsElement = document.getElementById('totalEarnings');
            formatAmount(totalEarningsElement);

            var experimenterInput = document.getElementById('experimenter-code');
            var participantInput = document.getElementById('participant-input');
            var closeField = document.getElementById('id_close_field');
            var timerMessage = document.getElementById('timer-message');
            var countdownElement = document.getElementById('countdown');
            var nextButtonContainer = document.getElementById('next-button-container');
            var nextButton = document.getElementById('next-button');

            experimenterInput.addEventListener('input', function() {
                if (this.value === '1') {
                    participantInput.style.display = 'block';
                    this.disabled = true;
                }
            });

            closeField.addEventListener('input', function() {
                if (this.value.toLowerCase() === 'close') {
                    nextButtonContainer.style.display = 'block';
                } else {
                    nextButtonContainer.style.display = 'none';
                }
            });

            nextButton.addEventListener('click', function(event) {
                event.preventDefault();
                this.disabled = true;
                timerMessage.style.display = 'block';
                var secondsLeft = 15;

            });

            var groupEarningsElement = document.getElementById('totalGroupEarnings');
            if (groupEarningsElement) {
                formatAmount(groupEarningsElement);

                var groupEarnings = parseFloat(groupEarningsElement.innerText.replace('$', ''));
                var individualEarnings = groupEarnings / 2;

                var individualEarningsElement = document.getElementById('individualEarnings');
                if (individualEarningsElement) {
                    individualEarningsElement.innerText = '$' + individualEarnings.toFixed(2);
                }
            }
        });
    </script>
{% endblock %}