{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %}
    Round {{ player.round_number }} of {{ 12 }}
{% endblock %}

{% block content %}
<h6>You decided to invest: <span style="color: blue; font-weight: bold;" id="investment">{{ investment }}</span></h6>
<h6>Your success number is: <span style="color: blue; font-weight: bold;">{{ success_number }}</span></h6>
<h6>You got: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;">{{ dice_roll }}</span></h6>

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">
{% if success %}
    <h6>Investment result: <span style="color: green; font-weight: bold;">Success</span></h6>
{% else %}
    <h6>Investment result: <span style="color: red; font-weight: bold;">Failure</span></h6>
{% endif %}

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">

<h6>Your earnings for this round: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;" id="earnings">{{ earnings }}</span></h6>

    {% next_button %}
 <script>
       document.addEventListener('DOMContentLoaded', function() {
    var investmentElement = document.getElementById('investment');
    var earningsElement = document.getElementById('earnings');

    investmentElement.textContent = '$' + investmentElement.textContent;
    earningsElement.textContent = '$' + earningsElement.textContent;
});
    </script>
{% endblock %}