{% extends "global/Page.html" %}

{% block title %}
Welcome.
{% endblock %}

{% block content %}
<li> Thank you for participating in this study.</li>
   <li> This study consists of three parts. </li>
   <li> After you complete each part, you will be informed of the following part. </li>
 <li>You will receive a show-up payment. </li>
   <li> Also, you will have the opportunity to increase your earnings based on your responses and chance, so please give the study your full attention. </li>

{% next_button %}
{% endblock %}